server {

       listen 80;
       
       server_name {{ ansible_facts["default_ipv4"]["address"] }}; 
                
       location / {
       root /srv/www;
       }

       location /api/sum/ {
         proxy_pass http://localhost:8080;
       }  

}
