server {

       listen 80;
       
       server_name {{ vars.ansible_eth0.ipv4.address }}; 
                
       location / {
       root /srv/www;
       }

       location /api/sum/ {
         proxy_pass http://localhost:8080/sum;
       }  

}
